body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  justify-content: center;
}

.header {
  grid-row: 1 / span 1;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50px;
}

.content {
  grid-row: 2 / span 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 200px);
  grid-template-rows: repeat(3, 200px);
  gap: 10px;
}

.tile {
  background-color: #71A9F7;
  grid-column: span 1;
  grid-row: span 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4em;
  font-weight: bold;
  cursor: pointer;
  user-select: none;
}

.player-info {
  display: flex;
  gap: 1em;
}

.footer {
  grid-row: 3 / span 1;
}